{% extends "layout.html" %}

{% block content %}
<div class="hp jumbotron {{"col-md-6" if not enableDownload }}" id="hp">
	<header class="col-md-12">
		<a class="logo" href="/" title="monosend">
			<img src="/assets/monosend_logo.svg" alt="Monosend">
		</a>
		<!-- <h1>{{ title | safe }}</h1> -->
		<!-- <h2>{{ subtitle | safe }}</h2> -->
	</header>

	<div class="index_container {{ "col-md-12" if success and enableDownload else "col-md-12" }}">
		{%if isPostback %}

			{% if success %}

				{% import "dropzone.html" as dropzone %}
				{{ dropzone.preview(bundle, isPostback)}}

			{% else %}

				{% import "errors.html" as err %}
				{{ err.show(errors) }}
				<a href="/" data-async data-target="hp">Return to homepage</a>				

			{% endif %}

		{% else %}		

		{% include "fileupload.html" %}

		{% endif %}
		{% if success %}
		<div class="dz-completed-container">

			{%if isPostback %}

				{% include "sendmail.html" %}

			

			{% endif %}
		</div>
		{% endif %}
	</div>

	
</div>
{% endblock %}
