{% if not isXMLHttpRequest %}
<!DOCTYPE html>
<html>
	<head>
		<title>monosend</title>
		<link rel="stylesheet" href="/css/styles.css" />
		<meta name="baseurl" value="{{ baseUrl }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="mono is a strategic creative agency specializing in design, experiential and integrated branding.">

		                        
		<meta property="og:site_name" content="monosend">
		<meta property="og:type" content="website">
		<meta property="og:title" content="monosend">
		<meta property="og:url" content="http://monosend.com/">
		<meta property="og:description" content="mono is a strategic creative agency specializing in design, experiential and integrated branding.">
		<meta property="og:image" content="/assets/social.jpg">

		<meta itemprop="name" content="mono">
		<meta itemprop="url" content="http://monosend.com/">
		<meta itemprop="description" content="mono is a strategic creative agency specializing in design, experiential and integrated branding.">
		<meta itemprop="thumbnailUrl" content="/assets/social.jpg">
		<link rel="image_src" href="/assets/social.jpg">
		<meta itemprop="image" content="/assets/social.jpg">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="@mono_mpls">
		<meta name="twitter:title" content="monosend">
		<meta name="twitter:description" content="mono is a strategic creative agency specializing in design, experiential and integrated branding.">
		<meta name="twitter:image:src" content="/assets/social.jpg">

		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
	</head>
	<body>

		{% if invalidHost %}
			<div class="baseurl alert alert-warning">
				<strong>Warning</strong>: the base URL is set to {{ baseUrl }} but you are accessing this page from {{ host }}. It is recommended to <a href="/settings/general/">update the BaseUrl setting</a>.
			</div>
		{% endif %}

		<header>
			{% block header %}
				{% include "header.html" %}
			{% endblock %}
		</header>

		<div class="container">
			<div class="row">
				{% block content %}
				{% endblock %}
			</div>
		</div>

		<script type="text/javascript" src="/js/vendor.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>
{% else %}
{% block content %}
{% endblock %}
{% endif %}